/* #cfc6bd
#c2906b
#7b9aa4
#415f6a
#e3dcc9 */

*{
    font-family: 'Montserrat', sans-serif;
}

body{
    padding: 0;
    margin: 0;
}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
header{
    display: block;
    background-color: #fff;
    padding: 0;
}

nav ul{
    list-style: none;
    overflow: hidden;
    padding-left: 0px;
    margin: 0px;
}

nav ul li{
    float: right;
    font-size: 16px;
    font-weight: bold;
}

nav ul li a{
    display: block;
    padding: 18px;
    color: #000000;
    text-decoration: none;
    border-bottom: #000000 solid;
}

nav ul li:hover{
    text-decoration: underline;
    text-decoration-color: #000000;
    text-decoration-line: underline;
    text-underline-offset: 5px;
}

#logoheader{
    float: left;
    margin-left: 25px;
    padding-top: 5px;
    border-bottom: solid #000000;
}

.whitespace{
    height: 70px;
    width: max-content;
}

.sectiontop{
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    padding: 10px;
    font-size: 20px;
    border-bottom: #000000 dotted;
}


p{
    font-size: 20px;
    margin-left: 50px;
    margin-inline-end: 10%;
}

.baristas{
    color: #040C0E;
    /* background-color: #e3dcc9; */
    padding: 15px;
    font-size: 25px;
    margin-left: 35%;
}

.novedades{
    color: #040C0E;
    /* background-color: #e3dcc9; */
    padding: 15px;
    font-size: 25px;
    margin-left: 35%;
}

.nosotros{
    padding: 15px;
    color: #000000;
    font-size: 20px;
    margin-left: 35%;
}

/* main{
    background-image: url(/img/coffiance/COFFEE_BLACK.png);
    background-repeat: no-repeat;
} */

.fotosbaristas{
    border: solid black;
    width: 150px;
    height: 200px;
    padding: 15px;
    margin: 5px;

}

.fotosbaristas img{
    height: auto;
    width: 100%;
}

footer{
    margin-top: 10%;
    display: block;
    color:#ffffff;
    background-color:#000000;
    text-align: center;
    padding: 15px;
}
