html{
    font-family: 'Montserrat', sans-serif;
}
body{
    margin: 0;
}

header{
    background-color: #132226;
    padding: 5px;
}

nav ul{
    list-style: none;
    overflow: hidden;
}

nav ul li{
    float: left;
    font-size: 23px;
}

nav ul li a{
    display: block;
    padding: 15px;
    color: #BE9063;
    text-decoration: none;
}

nav ul li:hover{
    text-decoration: underline;
    text-decoration-color: #A4978E;
    text-decoration-line: underline;
    text-underline-offset: 5px;
}

.sectiontop{
    background-color: #6F1D1B;
    text-align: center;
    color: #BE9063;
    padding: 10px;
    font-size: 20px;
}

.cafe{
    color: #040C0E;
    background-color:#BE9063;
    padding: 10px;
    padding-bottom: 50px;
    font-size: 25px;
}

p{
    font-size: 20px;
    margin-left: 50px;
}

.baristas{
    color: #040C0E;
    background-color: #A4978E;
    padding: 10px;
    font-size: 25px;
}

.novedades{
    color: #040C0E;
    background-color: #6F1D1B;
    padding: 10px;
    font-size: 25px;
}

.nosotros{
    background-color: #132226;
    padding: 10px;
    color: #BE9063;
    font-size: 20px;
}

footer{
    color:#A4978E;
    background-color:#040C0E;
    text-align: center;
    padding: 15px;
}
