* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 12px;
}

.container {
    display: grid;
    grid-template-columns: 0.8fr 1.4fr 0.8fr;
    grid-template-rows: 0.3fr 2.4fr 0.3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
}

.header {
    grid-area: 1 / 1 / 2 / 4;
    border-bottom: solid black 2px;
}

.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
    grid-auto-rows: 1fr;
    gap: 0px 25px;
    grid-auto-flow: row;
    grid-template-areas:
        ". content-title content-title content-title ."
        ". content-1 content-2 content-3 ."
        ". content-1 content-2 content-3 ."
        ". content-1 content-2 content-3 ."
        ". content-1 content-2 content-3 .";
    grid-area: 2 / 1 / 3 / 4;
}

.content-title {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". content-title-area .";
    justify-self: center;
    align-self: center;
    grid-area: content-title;
    font-size: 25px;
}

.content-title-area {
    justify-self: center;
    align-self: center;
    grid-area: content-title-area;
}

.logo-vert {
    grid-area: logo-vert;
}

.content-1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1.2fr 0.2fr 1.8fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". content-photo-1 content-photo-1 ."
        ". content-photo-1 content-photo-1 ."
        ". content-head-1 content-head-1 ."
        ". content-description-1 content-description-1 .";
    grid-area: content-1;
    justify-self: center;
    align-self: center;
}

.content-photo-1 {
    grid-area: content-photo-1;
    justify-self: center;
    align-self: center;
}

.content-head-1 {
    grid-area: content-head-1;
    padding-left: 15px;
}

.content-description-1 {
    grid-area: content-description-1;
    padding-top: 7px;
    padding-left: 15px;
}

.content-2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1.2fr 0.2fr 1.8fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". content-photo-2 content-photo-2 ."
        ". content-photo-2 content-photo-2 ."
        ". content-head-2 content-head-2 ."
        ". content-description-2 content-description-2 .";
    grid-area: content-2;
    justify-self: center;
    align-self: center;
}

.content-photo-2 {
    grid-area: content-photo-2;
    justify-self: center;
    align-self: center;
}

.content-head-2 {
    grid-area: content-head-2;
    padding-left: 15px;
}

.content-description-2 {
    grid-area: content-description-2;
    padding-top: 7px;
    padding-left: 15px;
}

.content-3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1.2fr 0.2fr 1.8fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". content-photo-3 content-photo-3 ."
        ". content-photo-3 content-photo-3 ."
        ". content-head-3 content-head-3 ."
        ". content-description-3 content-description-3 .";
    grid-area: content-3;
    justify-self: center;
    align-self: center;
}

.content-photo-3 {
    grid-area: content-photo-3;
    justify-self: center;
    align-self: center;
}

.content-head-3 {
    grid-area: content-head-3;
    padding-left: 15px;
}

.content-description-3 {
    grid-area: content-description-3;
    padding-top: 7px;
    padding-left: 15px;
}

.header-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . . ."
        "inicio cafe baristas novedades"
        ". . . .";
    grid-area: 1 / 2 / 2 / 3;
}

.header-nav a {
    text-decoration: None;
    color: black;
}

.header-nav a:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-color: teal;
    border-bottom: solid 1px black;
}

.inicio {
    justify-self: center;
    align-self: center;
    grid-area: inicio;
}

.cafe {
    justify-self: center;
    align-self: center;
    grid-area: cafe;
}

.baristas {
    justify-self: center;
    align-self: center;
    grid-area: baristas;
}

.novedades {
    justify-self: center;
    align-self: center;
    grid-area: novedades;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        ". footer-content ."
        ". footer-content ."
        ". footer-content .";
    grid-area: 3 / 1 / 4 / 4;
    background-color: #333;
    color: #fff;
}

.footer-content {
    grid-area: footer-content;
    justify-self: center;
    align-self: center;
}

/*  */
/*  */

.container-landing {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2.5fr 1fr 1fr 0.5fr 1.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . ."
        "logo-horizontal logo-horizontal logo-horizontal"
        "logo-horizontal logo-horizontal logo-horizontal"
        "menu menu menu"
        ". iframe-audio .";
}

.logo-horizontal {
    grid-area: logo-horizontal;
    justify-self: center;
    align-self: center;
    border-bottom: solid black 2px;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . . . . . . ."
        ". . menu-items menu-items menu-items menu-items . ."
        ". . . . . . . .";
    grid-area: menu;
    margin-top: 25px;
}

.menu-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . . ."
        "Inicio Café Baristas Novedades"
        ". . . .";
    grid-area: menu-items;
}

.menu-items a {
    text-decoration: none;
    color: black;
}

.menu-items a:hover {
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: teal;
    border-bottom: solid 1px black;
}

.Inicio {
    grid-area: Inicio;
    justify-self: center;
    align-self: center;
}

.Café {
    grid-area: Café;
    justify-self: center;
    align-self: center;
}

.Baristas {
    grid-area: Baristas;
    justify-self: center;
    align-self: center;
}

.Novedades {
    grid-area: Novedades;
    justify-self: center;
    align-self: center;
}

.iframe-audio {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1.2fr 0.6fr 1.2fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". . ."
      "audio audio audio"
      ". . ."; 
    grid-area: iframe-audio;
    justify-self: center;
  }

.audio {
    grid-area: audio;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 4;
    grid-row-end: 3;
}